configuration {
    show-icons: true;
    display-run: "Run:";
    display-drun: "Open:";
    matching: "fuzzy";
    sort: true;
    sorting-method: "fzf";
    case-sensitive: false;
    run,drun {
        fallback-icon: "application-x-addon";
    }
    dmenu {
        fallback-icon: "arrow-right-double";
    }
}

@theme "rounded-kanagawa"
